/* Product Card Container */ 
.product-card {
  position: relative;
  background-color: #f9f9f9;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

/* Discount  */
.product-badge {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #0080007a;
  color: white;
  padding: 4.8px 11.2px;
  font-size: 12px;
  border-radius: 50%;
  z-index: 1;
  text-transform: uppercase;
}

/* Product Image */
.product-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

/* Hover Overlay */
.card-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card:hover .card-overlay {
  opacity: 1;
}

/* Add to Cart Button */
.card-overlay button {
  background-color: white;
  color: #a17e2a;
  padding: 8px 19.2px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
  width: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card-overlay button:hover {
  background-color: #a17e2a;
  color: white;
}

/* Overlay Action Icons */
.overlay-actions {
  display: flex;
  gap: 3px;
  font-size: 15px;
}

.overlay-actions span,
.overlay-actions a,
.overlay-actions button {
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
}

.overlay-actions span:hover,
.overlay-actions a:hover,
.overlay-actions button:hover {
  color: #b88e2f;
}

/* Product Info Section */
.product-info {
  padding: 16px;
  text-align: left;
}

.product-info h3 {
  font-size: 17.6px;
  font-weight: bold;
  margin-bottom: 4px;
}

.product-info p {
  color: #777;
  font-size: 14.4px;
  margin-bottom: 8px;
}

/* Pricing Row */
.price-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price {
  font-weight: 600;
  color: #000;
}

.old-price {
  text-decoration: line-through;
  color: #bbb;
  font-size: 14.4px;
}